:root {
  --blueDark: #223059;
  --blueLight: #119EFF;
  --grey: #232528;
  --orangeDark: #A6351C;
  --orangeLight: #F28B50;
  --pink: #F23568;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: whitesmoke !important;
  color: var(--grey) !important;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--blueLight);
}

.text-bright {
  color: var(--blueLight);
}